
.sayi{
	background-color: #1DF9F9;
}

.resim{
	background-color: #92FDFD;
}

.baslik{
	background-color: #1DF9F9;
	font-family:verdana;
}

.detay{
	background-color: #92FDFD;
	font-family: verdana;
}

